---
import Layout from "../../layouts/Layout.astro";
import Section from "../../components/Section.astro";

import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import { Image } from "astro:assets";
import aboutImage from "../../assets/elementor-placeholder-image.png";
import { CONTACT } from "../../constants";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export async function getStaticPaths() {
  return ["en", "es"].map((lang) => {
    return { params: { lang } };
  });
}
---

<Layout
  title={t("about.title")}
  description={t("site.description")}
  lang={lang}
>
  <h2 class="text-3xl sm:text-4xl md:text-5xl font-bold mb-4 gradient-text">
    {t("about.title")}
  </h2>
  <p class="text-base sm:text-lg text-gray-400 mb-6">{t("about.description")}</p>
  <div class="flex w-full m-auto justify-center">
    <Image src={aboutImage} alt="JuancaDev" width={600} height={400} />
  </div>
  <Section title={t("about.journey.title")}>
    <div set:html={t("about.journey.description")} />
  </Section>
  <Section title={t("about.my.content.title")}>
    <div set:html={t("about.my.content.paragraph")} />
  </Section>
  <Section title={t("about.working.on.title")}>
    <p>{t("about.working.on.description")}</p>
  </Section>
  <Section title={t("about.contact.title")}>
    <p>{t("about.contact.paragraph")}</p>
    <ul class="my-2">
      <li class="flex gap-2">
        <span class="font-bold">Email:</span>
        <a href={`mailto:${CONTACT.email.link}`} target="_blank"
          >{CONTACT.email.display}</a
        >
      </li>
      <li class="flex gap-2">
        <span class="font-bold">Twitter:</span>
        <a href={CONTACT.twitter.link} target="_blank"
          >{CONTACT.twitter.display}</a
        >
      </li>
      <li class="flex gap-2">
        <span class="font-bold">LinkedIn:</span>
        <a href={CONTACT.linkedin.link} target="_blank"
          >{CONTACT.linkedin.display}</a
        >
      </li>
    </ul>
    <p class="my-6 font-semibold">{t("about.thank.you")}</p>
  </Section>
</Layout>
