---
import FormattedDate from "../../components/FormattedDate.astro";
import Layout from "../../layouts/Layout.astro";
import SocialIcon from "../../components/SocialIcon.astro";
import WorkItem from "../../components/WorkItem.astro";

import GithubIcon from "../../icons/GithubIcon.astro";
import YoutubeIcon from "../../icons/YoutubeIcon.astro";
import LinkedinIcon from "../../icons/LinkedinIcon.astro";
import XIcon from "../../icons/XIcon.astro";

import { getBlogPostsByLang } from "../../content.config";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import { SOCIAL_LINKS, WORK_COMPANIES } from "../../constants";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const latestPosts = (await getBlogPostsByLang(lang)).slice(0, 10);

export async function getStaticPaths() {
  return ["en", "es"].map((lang) => {
    return { params: { lang } };
  });
}
---

<Layout title={t("site.title")} description={t("site.description")} lang={lang}>
  <section class="container">
    <h2>
      {t("home.title")}
    </h2>
    <p>{t("home.description")}</p>
    <span class="w-full flex">
      {t("home.find.me")}:
      <div class="flex gap-3 px-3 justify-center items-center">
        <SocialIcon href={SOCIAL_LINKS.github} name="GitHub">
          <GithubIcon />
        </SocialIcon>
        <SocialIcon href={SOCIAL_LINKS.youtube} name="YouTube">
          <YoutubeIcon />
        </SocialIcon>

        <SocialIcon href={SOCIAL_LINKS.twitter} name="Twitter">
          <XIcon />
        </SocialIcon>
      </div>
    </span>
    <div class="flex gap-4 mt-2"></div>
  </section>
  <section class="container">
    <h3>
      {t("home.work.title")}
    </h3>
    <WorkItem
      name={t("home.work.current.name")}
      href={WORK_COMPANIES.dafiti}
      description={t("home.work.current.description")}
    />
    <WorkItem
      name={t("home.work.previous.name")}
      href={WORK_COMPANIES.bancodeBogota}
      description={t("home.work.previous.description")}
    />
    <WorkItem
      name={t("home.work.last.name")}
      href={WORK_COMPANIES.canastto}
      description={t("home.work.last.description")}
    />
    <span
      class="w-full flex items-center mt-4 font-medium text-primary-600 gap-2 hover:underline"
    >
      <a href={SOCIAL_LINKS.linkedin} class="underline" target="_blank">
        {t("home.work.more")}
      </a>
      <SocialIcon
        href={SOCIAL_LINKS.linkedin}
        name="LinkedIn"
      >
        <LinkedinIcon />
      </SocialIcon>
    </span>
  </section>
  <section class="container mt-8">
    <h3>{t("home.latest.title")}</h3>
    <ol class="mt-4 space-y-2">
      {
        latestPosts.map((post) => (
          <li class="flex pb-3 gap-3 items-center">
            <p class="text-sm">
              {post.data.pubDate ? (
                <FormattedDate date={post.data.pubDate} />
              ) : (
                t("home.latest.noDate")
              )}
            </p>
            <a
              class="block font-semibold text-primary-600 underline"
              href={`/${lang}/blog/${post.blog_slug}`}
            >
              {post.data.title}
            </a>
          </li>
        ))
      }
    </ol>
  </section>
</Layout>
