---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "./Layout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage, lang } =
  Astro.props;

import { useTranslations, type UiType } from "../i18n/utils";

const t = useTranslations(lang as UiType);
---

<Layout
  title={title}
  description={description}
  heroImage={heroImage}
  pubDate={pubDate}
  updatedDate={updatedDate}
  lang={lang}
>
  <article>
    <div>
      {heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
    </div>
    <div>
      <div>
        <div>
          {
            pubDate && <FormattedDate date={pubDate} />
          }
          {
            updatedDate && (
              <div>
                {t("updated.on")} <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>
        <span>{title}</span>
        <hr />
      </div>
      <slot />
    </div>
  </article>
</Layout>
