---
import { getBlogPosts, PAGINATION_SIZE, MAX_TAGS_DISPLAY, getBlogPostsByLang } from "../../../content.config";
import BlogPostList from "../../../components/BlogPostList.astro";
import Pagination from "../../../components/Pagination.astro";
import Layout from "../../../layouts/Layout.astro";
import { useTranslations } from "../../../i18n/utils";

const { lang } = Astro.params;
const t = useTranslations(lang);

export async function getStaticPaths({ paginate }: { paginate: any }) {
  const allPosts = await getBlogPosts();
  
  return ["en", "es"].flatMap((lang) => {
    const posts_filtered = allPosts
      .filter((post) => post.data.lang === lang)
      .sort(
        (a, b) =>
          (b.data.pubDate?.valueOf() ?? 0) - (a.data.pubDate?.valueOf() ?? 0)
      );
    return paginate(posts_filtered, { params: { lang }, pageSize: PAGINATION_SIZE });
  });
}

const posts = await getBlogPostsByLang(lang);
const tags = posts
  .flatMap((post) => post.data.tags || [])
  .slice(0, MAX_TAGS_DISPLAY);

const { page } = Astro.props;
---

<Layout title="Blog" description="Blog" lang={lang}>
  <div class="grid grid-cols-1 gap-8 lg:grid-cols-[3fr_1fr]">
    <aside class="lg:hidden order-first">
      <h3>Tags</h3>
      <ul class="flex flex-wrap gap-3">
        {
          Array.from(new Set(tags)).map((tag) => {
            return (
              <li class="w-fit">
                <a href={`/${lang}/tags/${tag}`} class="underline">
                  #{tag}
                </a>
              </li>
            );
          })
        }
      </ul>
      <a href={`/${lang}/tags`} class="underline mt-4 inline-block">
        {t("blog.tags.view.all")}
      </a>
    </aside>
    <section class="w-full flex-1 lg:order-first">
      <BlogPostList posts={page.data} lang={lang} />
      <Pagination page={page} lang={lang} />
    </section>
    <aside class="hidden lg:block">
      <h3>Tags</h3>
      <ul class="flex flex-wrap gap-3">
        {
          Array.from(new Set(tags)).map((tag) => {
            return (
              <li class="w-fit">
                <a href={`/${lang}/tags/${tag}`} class="underline">
                  #{tag}
                </a>
              </li>
            );
          })
        }
      </ul>
      <a href={`/${lang}/tags`} class="underline mt-4 inline-block">
        {t("blog.tags.view.all")}
      </a>
    </aside>
  </div>
</Layout>
