---
import { getBlogPosts } from "../../../content.config";
import FormattedDate from "../../../components/FormattedDate.astro";
import Layout from "../../../layouts/Layout.astro";
import { useTranslations } from "../../../i18n/utils";

const { lang } = Astro.params;
const t = useTranslations(lang);

export async function getStaticPaths({ paginate }: { paginate: any }) {
  const PAGE_SIZE = 2;
  const _posts = await getBlogPosts();
  return ["en", "es"].flatMap((lang) => {
    const posts_filtered = _posts
      ?.filter((blog) => {
        return blog?.data?.lang === lang;
      })
      .sort(
        (a, b) =>
          (b.data.pubDate?.valueOf() ?? 0) - (a.data.pubDate?.valueOf() ?? 0),
      );
    return paginate(posts_filtered, { params: { lang }, pageSize: PAGE_SIZE });
  });
}

const { page } = Astro.props;
---

<Layout title="Blog" description="Blog" lang={lang}>
  <section id="posts-list">
    <ul>
      {
        page.data.map((post: any) => {
          return (
            <li class="border-2">
              <a href={`/${lang}/blog/${post.blog_slug}`}>
                {/* <img
                  width={720}
                  height={360}
                  src={post.data.heroImage}
                  alt=""
                /> */}
                <h4>{post.data.title}</h4>
                {post.data.pubDate ? <FormattedDate date={post.data.pubDate} /> : <p>No date</p>}
              </a>
            </li>
          );
        })
      }
    </ul>
    <div>
      {
        page.url.first ? (
          <a href={page.url.first}>
            {t("pagination.first")}
          </a>
        ) : (
          <span>{t("pagination.first")}</span>
        )
      }
      {
        page.url.prev ? (
          <a href={page.url.prev}>{t("pagination.prev")}</a>
        ) : (
          <span>{t("pagination.prev")}</span>
        )
      }
      <span>{t("page")} {page.currentPage}/{page.lastPage}</span>
      {
        page.url.next ? (
          <a href={page.url.next}>{t("pagination.next")}</a>
        ) : (
          <span>{t("pagination.next")}</span>
        )
      }
      {
        page.url.last ? (
          <a href={page.url.last}>{t("pagination.last")}</a>
        ) : (
          <span>{t("pagination.last")}</span>
        )
      }
    </div>
  </section>
</Layout>
